<div class="row">
  <div class="col-lg-6 mt">
<%= form_for(@business, :html => { :role => "form" }) do |f| %>
  <% if @business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
      <% @business.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :logo %><br>
    <%= f.file_field :logo, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation, class: "form-control" %>
  </div>
  </div>
    <div class="col-lg-6 mt">
  <div class="form-group">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :manager %><br>
    <%= f.text_field :manager, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :reward %><br>
    <%= f.text_field :reward, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :req_visits %><br>
    <%= f.text_field :req_visits, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :marketing_package %><br>
    <%= f.text_field :marketing_package, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br>
    <%= f.text_field :photo, class: "form-control" %>
  </div>

  <div class="actions pull-right">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>

