
<% if business_signed_in? %>
<div id="businesshomepage">
    <div class="hero-unit">
        <h1 class="text-center">Welcome to your dashboard, <%= @name %></h1>
        <p class="text-center">View your customer stats below or launch your application to start accepting check-ins for today.</p>
    </div>
    <div class="text-center padded">
    <%= link_to 'Launch application', new_visit_path, class: "btn btn-success btn-large margin20" %>
                      <%= render 'visits/bybusiness' %>
</div>
<% elsif admin_signed_in? %>
<h1 class="text-center">Welcome, Administrator</h1>
<p class="text-center">You are in control</p>

<%= render :partial => '/businesses/index' %>

<%= render :partial => '/customers/allcustomers', :locals => {:customers => Customer.all}  %>

<% else %>
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Welcome to Tally</h1>
        <p>Loyalty programmes, customer analytics, and email marketing: the easy way.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Tally Kiosk</h2>
          <p>A sleek and simple interface allowing customers to check-in to your establishment on each visit and earn loyalty rewards. Gather a database of customer contact details. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Customer Analytics</h2>
          <p>Understand the visiting patterns of your most valued customers using Tally's unique analytics platform, and find new ways to connect with and retain them. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Email Marketing</h2>
          <p>Choose a customised email marketing plan that completely removes the pain from building relationships with your clients.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

 <% end %>

