      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  


      <!--main content start-->

<div class="row">
          <div class="col-lg-12">
            <div id="fullwidth">
            <canvas id="myChart"></canvas>
            </div>
        </div>
</div>

<script>  

  topVal = nextL(<%= @l_value %>)
  // marking our y axis...
  $('span.tm6').html(noDecimals(topVal/5*5));
  $('span.tm5').html(noDecimals(topVal/5*4));
  $('span.tm4').html(noDecimals(topVal/5*3));
  $('span.tm3').html(noDecimals(topVal/5*2));
  $('span.tm2').html(noDecimals(topVal/5*1));
  $('span.tm1').html(0);
 

  

  // tool tips

  $('.tooltips').tooltip();

  // popovers
  $('.popovers').popover();

  //Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");

var data = {
  labels : [
    "<%= @tm6.strftime("%a") %>",
    "<%= @tm5.strftime("%a") %>",
    "<%= @tm4.strftime("%a") %>",
    "<%= @tm3.strftime("%a") %>",
    "<%= @tm2.strftime("%a") %>",
    "<%= @tm1.strftime("%a") %>",
    "Today"
  ],
  datasets : [
    {
      // fillColor : "rgba(220,220,220,0.5)",
      fillColor : "#ed6639",
      strokeColor : "rgba(220,220,220,1)",
      data : [
          <%= @tm6count %>,
          <%= @tm5count %>,
          <%= @tm4count %>,
          <%= @tm3count %>,
          <%= @tm2count %>,
          <%= @tm1count %>,
          <%= @todaycount %>,
        ]
    },
    // {
    //   fillColor : "rgba(151,187,205,0.5)",
    //   strokeColor : "rgba(151,187,205,1)",
    //   data : [28,48,40,19,96,27,100]
    // }
  ]
}
var options = {
    //Boolean - Whether to animate the chart
  animation : true,

  //Number - Number of animation steps
  animationSteps : 10,
    //Number - Spacing between each of the X value sets
  barValueSpacing : 20,
}
var canvas = document.getElementById("myChart");
var parent = document.getElementById("fullwidth");
canvas.width = parent.offsetWidth;
canvas.height = parent.offsetHeight;

var myChart = new Chart(ctx).Bar(data,options);


    </script>


<div class="row">
  <!-- SERVER STATUS PANELS -->
  
  <div class="col-md-4 col-sm-4 mb">
    <div class="darkblue-panel pn lightbase">
      <div class="darkblue-header darkerbase">
        <h5>TOTAL CHECK-INS</h5>
      </div>
      <% if Visit.where(:business_id => current_business.id).count != 0 %>
      <h1><i class="fa fa-3x f900"><%= Visit.where(:business_id => current_business.id).count  %></i></h1>
      <% else %>
      <h1><i class="fa fa-3x f900">0</i></h1>
      <% end %>
      <p></p>
      <footer>
        <div class="centered">
          <h5 class="mt">since you joined Tally</h5>
        </div>
      </footer>
    </div><! -- /darkblue panel -->
  </div><!-- /col-md-4 -->

  <div class="col-md-4 col-sm-4 mb">
    <div class="darkblue-panel pn lightbase">
      <div class="darkblue-header darkbase">
        <h5>TOTAL CUSTOMERS</h5>
      </div>
      <% if Visit.where(:business_id => current_business.id).distinct.count('customer_id') != 0 %>
      <h1><i class="fa fa-3x f900"><%= Visit.where(:business_id => current_business.id).distinct.count('customer_id') %></i></h1>
      <% else %>
      <h1><i class="fa fa-3x f900">0</i></h1>
      <% end %>
      <p></p>
      <footer>
        <div class="centered">
          <h5 class="mt"><i class="fa"></i> loyal customers</h5>
        </div>
      </footer>
    </div><! -- /darkblue panel -->
  </div><!-- /col-md-4 -->

  <div class="col-md-4 col-sm-4 mb">
    <div class="darkblue-panel pn lightbase">
      <div class="darkblue-header darkbase">
        <h5>AVG VISITS</h5>
      </div>
      <% if Visit.where(:business_id => current_business.id).distinct.count('customer_id') != 0 %>
      <h1><i class="fa fa-3x f900"><%= Visit.where(:business_id => current_business.id).count / Visit.where(:business_id => current_business.id).distinct.count('customer_id') %></i></h1>
          <% else %>
          <h1><i class="fa fa-3x f900">0</i></h1>
          <% end %>
          <p></p>
          <footer>
            <div class="centered">
              <h5 class="mt">per customer</h5>
            </div>
          </footer>
        </div>
      </div><! --/col-md-4 -->

    </div><!-- /row -->



    <div class="row mb">
      <div class="col-lg-12">
        <%= render :partial => '/visits/bybusiness' %>
      </div>

      <!-- PHOTO PANEL -->

  </div>






