<div class="message-p">
  <div class="message-header message-p" style="margin-bottom:0;">
  <h5>Your Customers</h5>
  </div>
   <!-- link_to 'View all customer visits by date/time', visits_path, class: "pull-right" %> -->


      <% if !current_business.customers.blank? %>

         <div class="adv-table">
          <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
              <tr>
                <th class="hidden-phone">ID</th>
                <th class="hidden-phone">Email</th>
                <th class="hidden-phone">Number of visits</th>
                <th class="hidden-phone">Rewards earned</th>
                <th class="hidden-phone">Rewards owed</th>
                <th class="hidden-phone">Rewards redeemed</th>
              </tr>
            </thead>


            <tbody>

        <% for customer in current_business.customers.uniq %>
             <!-- customer.id.each do |c| %> -->
                
                  <tr>
                    <td class="hidden-phone"><%= customer.id %></td>
                    <td class="hidden-phone"><%= link_to customer.email, customer %></td>
                    <td class="hidden-phone"><%= Visit.where(:business_id => current_business.id,:customer_id => customer.id).count  %></td>
                    <td class="hidden-phone"><%= Reward.where(:business_id => current_business.id,:customer_id => customer.id).count  %></td>
                    <td class="hidden-phone"><%= Reward.where(:business_id => current_business.id,:customer_id => customer.id,:redeemed => false).count  %></td>
                    <td class="hidden-phone"><%= Reward.where(:business_id => current_business.id,:customer_id => customer.id, :redeemed => true).count  %></td>
  <!--                   <td><%= link_to 'Show', customer %> -->
  <!--                   <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                  </tr>
                <!-- end %> -->
        <% end %>
            </tbody>
          </table>
         </div>
      <% else %>
        No Visits Yet!
      <% end %>
</div>


  
    <script type="text/javascript">
      /* Formating function for row details */
      function fnFormatDetails ( oTable, nTr )
      {
          var aData = oTable.fnGetData( nTr );
          var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
          sOut += '<tr><td>Rendering engine:</td><td>'+aData[1]+' '+aData[4]+'</td></tr>';
          sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
          sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
          sOut += '</table>';

          return sOut;
      }

      $(document).ready(function() {
          /*
           * Insert a 'details' column to the table
           */
          var nCloneTh = document.createElement( 'th' );
          var nCloneTd = document.createElement( 'td' );
          nCloneTd.innerHTML = '<img src="assets/js/advanced-datatable/examples/examples_support/details_open.png">';
          nCloneTd.className = "center";

          $('#hidden-table-info thead tr').each( function () {
              this.insertBefore( nCloneTh, this.childNodes[0] );
          } );

          $('#hidden-table-info tbody tr').each( function () {
              this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
          } );

          /*
           * Initialse DataTables, with no sorting on the 'details' column
           */
          var oTable = $('#hidden-table-info').dataTable( {
              "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 0 ] }
              ],
              "aaSorting": [[1, 'asc']]
          });

          /* Add event listener for opening and closing details
           * Note that the indicator for showing which row is open is not controlled by DataTables,
           * rather it is done here
           */
          $('#hidden-table-info tbody td img').live('click', function () {
              var nTr = $(this).parents('tr')[0];
              if ( oTable.fnIsOpen(nTr) )
              {
                  /* This row is already open - close it */
                  this.src = "assets/js/advanced-datatable/examples/examples_support/details_open.png";
                  oTable.fnClose( nTr );
              }
              else
              {
                  /* Open this row */
                  this.src = "assets/js/advanced-datatable/examples/examples_support/details_close.png";
                  oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
              }
          } );
      } );
  </script>
  