


<h1>Your Customers</h1>
<%= link_to 'Customer visits by time', visits_path, class: "pull-right" %>


    <% if !current_business.customers.blank? %>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Number of visits</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>


          <tbody class="table-striped">

      <% for customer in current_business.customers.uniq %>
           <!-- customer.id.each do |c| %> -->
              
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.visits.count %></td>
                  <td><%= link_to 'Show', customer %> |
                  <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <!-- end %> -->
      <% end %>
          </tbody>
        </table>
    <% else %>
      No Visits Yet!
    <% end %>

<br>


