<h3>Your Customers</h3>

<table>
  <thead>
    <tr>
      <th>Business</th>
      <th>Customer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% if !current_business.customers.blank? %>
      <% for customer in current_business.customers %>
        <tr>
          <td><%= customer.email %></td>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% else %>
      No Visits Yet!
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path, class: "btn btn-success" %>

