<h1>All visits</h1>
<%= link_to 'Back to dashboard', root_path, class: "pull-right" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Business</th>
      <th>Customer</th>
      <th>Date and time</th>
      <th>Options</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% if admin_signed_in?
      v = @visits
    else
      v = current_business.visits
    end %>
        <% for visit in v %>
  <tbody>
      <tr>
        <td><%= visit.business_id %></td>
        <td><%= visit.customer_id %></td>
        <td><%= visit.created_at %></td>

        <td><%= link_to 'Delete visit record', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path, class: "btn btn-success" %>
