

<div class="centered">
	<% if notice %>
	<div class="alert alert-notice">
		<%= notice.html_safe %>
	</div>
	<% end %>
	<% if alert %>
	<p class="alert alert-error"><%= alert %></p>
	<% end %>

	<!-- <img src="<%= image_path(@logo) %>" class="offer"> -->
	<h1>Welcome to <%= @name %></h1>
	<h2> Check in <%= @req_visits %> times to receive <%= @reward %></h2>
	<%= render 'form' %>
	<p style="color:white;" class="fineprint"><%= @name %> and Tally may wish to send you occasional emails. You can unsubscribe from these at any time.</p>
</div>

<div id="back">
	<%= link_to 'Exit', root_path %>
</div>


