<%= form_for(@reward) do |f| %>
  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this reward from being saved:</h2>

      <ul>
      <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_id %><br>
    <%= f.text_field :business_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :reward %><br>
    <%= f.text_field :reward %>
  </div>
  <div class="field">
    <%= f.label :redeemed %><br>
    <%= f.check_box :redeemed %>
  </div>
  <div class="field">
    <%= f.label :redeemed_at %><br>
    <%= f.datetime_select :redeemed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
