


<h2>All Customers</h2>
<%= link_to 'View all customer visits by date/time', visits_path, class: "pull-right" %>

    <% if !customers.blank? %>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Number of visits</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>


          <tbody class="table-striped">

      <% for customer in customers.uniq %>
           <!-- customer.id.each do |c| %> -->
              
                <tr>
                  <td><%= customer.id %></td>
                  <td><%= customer.email %></td>
                  <td><%= Visit.where(:customer_id => customer.id).count  %></td>
                  <td><%= link_to 'Show', customer %> |
                  <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <!-- end %> -->
      <% end %>
          </tbody>
        </table>
    <% else %>
      No Visits Yet!
    <% end %>

<br>


