  <div class="col-lg-9 mt">   

<h1>Customer <%= @customer.id %></h1>
<p class="pull-right"><%= link_to 'Edit customer details', edit_customer_path(@customer) %> |
<%= link_to 'Back to dashboard', root_path %></p>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<%= render 'rewards/bycustomer' %>
<br>

 <%= render 'visits/bycustomer' %>

</div>