         <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
    <header class="header darkerbase">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="<%= root_path %>" class="logo"><b><span>TALLY</span></b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">


            </div>
            <div class="top-menu">
                  <% if business_signed_in? %>
                   <%= link_to 'Launch application', new_visit_path, class: "btn btn-warning btn-large launchapp" %>
                  <% end %>
              <ul class="nav pull-right top-menu">
                <% if business_signed_in? %>
                    <li><%= link_to "Logout", destroy_business_session_path, :method => :delete, :class => 'logout'  %></li>
                <% else %>
                    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "navbar-form pull-right"} ) do |f| %>
                    <%= f.email_field :email, :autofocus => true, :class => 'span2',:type => 'text',:placeholder => 'Email'   %>
                    <%= f.password_field :password, :class => 'span2',:type => 'password',:placeholder => 'Password' %>
                    <%= f.submit "Sign in", :class => 'btn',:type => 'submit'  %>
                    <% end %>
                <% end %>
              </ul>
            </div>
        </header>
      <!--header end-->


   
