<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Welcome to Tally", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
         <p class="navbar-text pull-right">

<% if business_signed_in? %>
  Logged in as <strong><%= current_business.email %></strong>.
  <%= link_to 'Edit profile', edit_business_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_business_session_path, method: :delete, :class => 'navbar-link'  %>

<% elsif customer_signed_in? %>

  Logged in as <strong><%= current_customer.email %></strong>.
  <%= link_to 'Edit profile', edit_customer_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %>

<% else %>

  <%= link_to "Sign up",new_business_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", signin_path, :class => 'navbar-link'  %>
<% end %>

          
        </ul>
      </nav>
    </div>
  </div>
</header>


