    <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
            
              	  	
                  <li class="mt">
                      <a <%= request.fullpath == root_path ?  'class="active"' : '' %> href="<%= root_path %>">
                          <i class="fa"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="<%= customer_home_path %>" >
                          <i class="fa"></i>
                          <span>Customers</span>
                      </a>
<!--                       <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="panels.html">Panels</a></li>
                          <li><a  href="font_awesome.html">Font Awesome</a></li>
                      </ul> -->
                  </li>

              </ul>
              <!-- sidebar menu end-->
      <div class="p15">
      <!--COMPLETED ACTIONS DONUTS CHART-->
         <div class="donut-main">
            <h4>Welcome to your dashboard, <%= business_details[:name] %></h4>
            <canvas id="newchart" height="130" width="130"></canvas>
            <script>
              var doughnutData = [
                  {
                    value: 70,
                    color:"#ed6639"
                  },
                  {
                    value : 30,
                    color : "#848482"
                  }
                ];
                var myDoughnut = new Chart(document.getElementById("newchart").getContext("2d")).Doughnut(doughnutData);
            </script>
          </div>
                  
                      <!--NEW EARNING STATS -->
                      <div class="panel terques-chart">
                          <div class="panel-body">
                              <div class="chart">
                                  <div class="centered">
                                      <span>CUSTOMER GROWTH RATE:</span>
                                      <strong>15% PER WEEK</strong>
                                  </div>
                                  <br>
                                  <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
                              </div>
                          </div>
                      </div>
                      <!--new earning end-->
                      

                      <p>                      <%= link_to 'Edit your profile', edit_business_path(current_business), class: 'btn btn-primary' %></p>
                      
                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
            </div>
      </aside>
      <!--sidebar end-->