<!DOCTYPE html>
<html>
<head>
  <title>TallyApp2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn">
  <%= render 'layouts/shim' %>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

</head>
<body>
  <div id="wrap">
    <div class="container">
                    <%= render 'layouts/header' %>
                	<% if notice %>
                	  <div class="alert alert-notice hide">
                    <%= notice.html_safe %>
                    </div>
                	<% end %>
                	<% if alert %>
                	  <p class="alert alert-error"><%= alert %></p>
                	<% end %>
                <%= yield %>
      </div>
  <div id="push"></div>
</div>
<%= render 'layouts/footer' %>

</body>
</html>


