<!DOCTYPE html>
<html>
<head>
  <title>TallyApp2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
<p class="navbar-text pull-right">
    <div class="container">
	<% if notice %>
	  <p class="alert alert-notice hide"><%= notice %></p>
	<% end %>
	<% if alert %>
	  <p class="alert alert-error"><%= alert %></p>
	<% end %>
<%= yield %>
      <%= render 'layouts/footer' %>
</div>
</body>
</html>
