<!DOCTYPE html>
<html>
<head>
  <title>TallyApp2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <% javascript_include_tag "dashio_theme/advanced-datatable/media/src/DataTables.js", "data-turbolinks-track" => true %>
    <% javascript_include_tag "dashio_theme/chart-master/Chart.js", "data-turbolinks-track" => true %>
    <% javascript_include_tag "dashio_theme/common-scripts.js", "data-turbolinks-track" => true %>      
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>

</head>
<body>
    <section id="container">

                <% if business_signed_in? || admin_signed_in? %>
                  <%= render 'layouts/header' %>
                   <%= render 'layouts/sidebar' %>

    <section id="main-content">
      <section class="wrapper">
         <% if notice %>
            <div class="generalalert alert-notice">
            <%= notice.html_safe %>
            </div>
          <% end %>
          <% if alert %>
            <div class="generalalert alert-error"><%= alert %></div>
          <% end %>
          <% end %>
           <% if business_signed_in? %>
  <div class="col-lg-9 mt">  
            <% end %>

          <%= yield %>
                     <% if business_signed_in? %>
          </div>
                    <% end %>

         <% if business_signed_in? %>
        <%= render 'layouts/rightsidebar' %>
          <% end %>


          </section>
        </section>
        </section>
                <% if business_signed_in? || admin_signed_in? %>

          <%= render 'layouts/footer' %>
       <% end %>
</body>
</html>


