<!DOCTYPE html>
<html>
<head>
  <title>TallyApp2</title>
  <%= stylesheet_link_tag    "checkin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
  <style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
</style>
</head>
<body>
<div id="containercheckin" class="block">
     <%= yield %>
</div>

</body>
</html>


